<section class="main-wrapper-section">
    <div class="container">
        <div class="wrapper-box left-container">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>

            <p>Doesn't have an account </p>
            <button mat-flat-button color="primary">Register</button>
        </div>
        <div class="wrapper-box right-container">
            <h1>User Login</h1>
            <p>some demo text hello world</p>
            <div class="form">
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>password</mat-icon>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" class="login-button">Login</button>

            <p>Forgot Password? <a>Click here to reset</a></p>
        </div>
    </div>
</section>