<section class="main-wrapper-section">
    <div class="container">
        <div class="forgot-password">
            <h1>Find your account</h1>
            <p>Enter registrated phone number</p>
        
            <div class="textfield">
                <mat-form-field appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>call</mat-icon>
                    
                </mat-form-field>
        
                <button mat-flat-button color="primary" class="getOTP-button" >Send OTP</button>
                <br>

                <mat-form-field appearance="outline">
                    <mat-label>OTP</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
        
                <button  mat-flat-button color="primary" class="getOTP-button"  (click)="navigateUrl('new-password')">Verify OTP</button>

               <p> <a (click)="navigateUrl('login')" style="cursor: pointer;">click here to login page</a></p>
            </div>
        </div>
    </div>
</section>