
.cancle{
  float: right;
}
.thickness{
  width: 3%;
  position: absolute;
  height: 100%;
  background-color: red;
  border-radius: 5px 0px 0px 5px;
}
.text{
  text-align: center;
  margin: 15%;
  background-color: blue;
}

