.new_password_text h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 7%;
}

.new_password_text{
    display:flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 5%;
}

mat-form-field{
    width: 100%;
    display: block;
}