<section class="main-wrapper-section">
    <div class="container">
        
        <div class="new_password_text">
            <h1>New Password</h1>
            <form [formGroup]="newPasswordForm">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <mat-error *ngIf="newPasswordForm.controls.newPassword.hasError('required')">New password is required
                    </mat-error>
                    <mat-error *ngIf="newPasswordForm.controls.newPassword.hasError('pattern')">Invalid password
                    </mat-error>
                    <input [type]="showPassword ? 'tex' :'password' " matInput placeholder="Placeholder" formControlName="newPassword">
                    <mat-icon matSuffix style="cursor: pointer;" (click)="passwordVisibility()">{{showPassword ?
                        'visibility':'visibility_off'}}</mat-icon>
                    
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm new password</mat-label>
                    <mat-error *ngIf="newPasswordForm.controls.confirmNewPassword.hasError('required')">Confirm password is required
                    </mat-error>
                    <mat-error *ngIf="newPasswordForm.controls.confirmNewPassword.hasError('pattern')">Invalid Confirm password
                    </mat-error>
                    <input matInput placeholder="Placeholder" formControlName="confirmNewPassword">
                    <mat-icon matSuffix style="cursor: pointer;" (click)="passwordVisibility2()">{{showPassword2 ?
                        'visibility':'visibility_off'}}</mat-icon>           
                </mat-form-field>

            </form>
            <button mat-flat-button color="primary" class="newPassword-button" (click)="newPasswordvalues()">Next</button>
        </div>
    </div>
</section>

